<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="logLevel" value="${environment:LOG_LEVEL:default=Info}"/>
  <variable name="logDate" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fffzzz}"/>
  <variable name="version" value="${assembly-version}"/>
  <variable name="logFolder" value="logs/elklogs"/>
  <variable name="operator" value="${replace:searchFor=(\\.[\\w]+)+:replaceWith=:regex=true:inner=${logger}}"/>
  <variable name="logFile" value="emailservice.log"/>
  <variable name="exceptionContent" value="${exception:format=tostring}"/>
  <targets async="true">
    <!--<default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>-->
    <!-- log to file -->
    <target name="AllLog" xsi:type="File"
            fileName="${logFolder}/${logFile}"
            maxArchiveFiles="20"
            archiveAboveSize="5242880"
            archiveFileName="${logFolder}/${logFile}.{#}"
            archiveNumbering="Rolling"
            keepFileOpen="false"
            encoding="utf-8">
      <layout xsi:type="JsonLayout">
        <attribute name="level" layout="${uppercase:${level}}"/>
        <attribute name="time" layout="${longdate}"/>
        <attribute name="thread" layout="${threadid}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="Message" layout="${message}"/>
        <attribute name="exception" layout="${onexception:${exceptionContent}"/>
      </layout>
    </target>
    <target name="ConsoleLog" xsi:type="Console"
            encoding="utf-8">
      <layout xsi:type="JsonLayout">
        <attribute name="level" layout="${uppercase:${level}}"/>
        <attribute name="time" layout="${longdate}"/>
        <attribute name="thread" layout="${threadid}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="exception" layout="${onexception:${exceptionContent}"/>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="AllLog,ConsoleLog">
    </logger>
  </rules>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
</nlog>